@import '../../styles/theme';

.login {
  &__form-wrapper {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
  }
  &__title {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .form {
    width: 100%;
    background-color: $off-white;
    padding: $lg-space $xl-space;
    border-radius: $border-sm;
    margin-top: 15rem;
    &__field {
      width: 100%;
      &--name {
        width: 50%;
        &:not(:last-child) {
          margin-right: $sm-space;
        }
      }
      &--login {
        button {
          width: 60%;
          margin: 0 auto;
        }
      }
    }
    &__submit-button {
      margin: 0 auto;
    }
    &__error {
      font-size: 1.4rem;
      color: $error-color;
      text-align: center;
    }
  }
}
