@import '../../styles/theme';

.landing {
  width: 100%;
  flex: 1;
  background: $main-bg-gradient-webkit;
  background: $main-bg-gradient;
  &__text {
    width: 60%;
  }
  &__title {
    font-size: 4.6rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: $lg-space;
  }
  &__description {
    font-size: $md-font;
    color: #fff;
    line-height: 1.3;
    max-width: 70rem;
  }
  &__paragraph {
    &:not(:last-child) {
      margin-bottom: $md-space;
    }
  }
  &__image-wrapper {
    width: 40%;
    max-width: 50rem;
    height: 50rem;
  }
  &__image {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/icons/cube.svg);
    background-size: cover;
  }
  &__button-wrapper {
    margin-top: $lg-space;
  }
  &__button {
    max-width: 20rem;
  }
}
