@import '../../styles/theme';

.button {
  min-height: 5.5rem;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: $border-lg;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  &:disabled {
    background-color: #5c5c5c;
    cursor: not-allowed;
  }
  &--sm {
    min-width: 11rem;
    min-height: 2.8rem;
    font-size: 1.4rem;
  }
  &--md {
    padding: $sm-space $lg-space;
    min-width: 13rem;
    min-height: 3.7rem;
    font-size: 1.6rem;
  }
  &--lg {
    padding: $md-space $xl-space;
    min-width: 15rem;
    min-height: 4.6rem;
    font-size: 1.8rem;
  }
  &--primary {
    background-color: $off-white;
    color: $primary-color;
    &-outline {
      background-color: transparent;
      border-color: $off-white;
      color: $off-white;
    }
  }
  &--inverted {
    background-color: $primary-color;
    color: $white;
    &-outline {
      background-color: transparent;
      border-color: $primary-color;
      color: $primary-color;
    }
  }
  &__loader {
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    background-image: url(../../assets/icons/loader.gif);
  }
}
