$white: #fff;
$off-white: #f5f5f5;
$black: #000;

$primary-color: #1c1c1c;

$gradient-color-01: #070707;
$gradient-color-02: #0e0e0e;
$gradient-color-03: #131313;
$gradient-color-04: #171717;
$gradient-color-05: #1c1c1c;
$gradient-color-06: #212121;
$gradient-color-07: #262626;
$gradient-color-08: #2d2d2d;
$gradient-color-09: #353535;
$gradient-color-10: #3d3d3d;
$gradient-color-11: #454545;
