@import './variables';

.container-fluid {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}

.header {
  height: 70px;
  background-color: gray;
}

.footer {
  height: 120px;
  background-color: cadetblue;
}
.page {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex: 1;
}
.page-body {
  flex: 1;
  display: flex;
}
