@import './colors';

$container-max-width: 144rem;

$border-lg: 5rem;
$border-sm: 1rem;

$pd-x-sm: 0 1rem;
$pd-x-md: 0 2rem;
$pd-x-lg: 0 3rem;

$pd-y-sm: 1rem 0;
$pd-y-md: 2rem 0;
$pd-y-lg: 3rem 0;

$xs-space: 1rem;
$sm-space: 1.5rem;
$md-space: 2rem;
$lg-space: 3rem;
$xl-space: 4rem;

$main-bg-gradient-webkit: -webkit-linear-gradient(
  to right,
  $black,
  $gradient-color-01,
  $gradient-color-01,
  $gradient-color-02,
  $gradient-color-03,
  $gradient-color-04,
  $gradient-color-05,
  $gradient-color-06,
  $gradient-color-07,
  $gradient-color-08,
  $gradient-color-09,
  $gradient-color-10,
  $gradient-color-11
);
$main-bg-gradient: linear-gradient(
  to right,
  $black,
  $gradient-color-01,
  $gradient-color-02,
  $gradient-color-03,
  $gradient-color-04,
  $gradient-color-05,
  $gradient-color-06,
  $gradient-color-07,
  $gradient-color-08,
  $gradient-color-09,
  $gradient-color-10,
  $gradient-color-11
);
