@import '../../styles/theme';

.header {
  width: 100%;
  height: 7rem;
  background: $main-bg-gradient-webkit;
  background: $main-bg-gradient;
  &__link {
    &:first-child {
      margin-left: auto;
    }
    &:not(:last-child) {
      margin-right: $xs-space;
    }
  }
}
