@import '../../styles/theme';

.footer {
  width: 100%;
  height: 6rem;
  background: $main-bg-gradient-webkit;
  background: $main-bg-gradient;
  font-size: $xs-font;

  &__links {
    color: $white;
  }
  &__link {
    &,
    &:visited,
    &:link {
      color: $white;
      font-weight: 500;
    }
  }
  &__rights {
    color: $white;
    font-size: $xs-font;
  }
}
